.exe
.pyc
.idea/*
.idea
.terraform/*
.terraform
*terraform.tfstate*
*terraform.tfstate.backup*
.terragrunt-cache/*
.terraform/*
terraform.tfstate
*.terragrunt*
*.terraform*
*.log
*.zip
*.DS_Store
versions_override.tf
*temp/*